<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <a routerLink="../add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus fa-sm text-white-50"></i>
    &nbsp;Dodaj knjižnico
  </a>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header">
        Seznam knjižnic
      </div>
      <div class="card-body">
        <p-table #dt styleClass="p-datatable-sm"
                 [value]="libraries" [paginator]="true" [rows]="maxLibraries" [totalRecords]="totalLibraries"
                 [lazy]="true" [loading]="loadingLibraries" (onLazyLoad)="loadLibraries($event)" [filterDelay]="300"
                 [stateStorage]="'local'" [stateKey]="'book-locator.tables.libraries'" [rowHover]="true">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="code">Šifra <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="name">Naziv <p-sortIcon field="name"></p-sortIcon></th>
              <th></th>
            </tr>
            <tr>
              <th>
                <input type="text" placeholder="Išči ..." class="form-control bg-light border-0"
                       (input)="dt.filter('%' + $event.target.value + '%', 'code', 'LIKEIC')">
              </th>
              <th>
                <input type="text" placeholder="Išči ..." class="form-control bg-light border-0"
                       (input)="dt.filter('%' + $event.target.value + '%', 'name', 'LIKEIC')">
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-library>
            <tr>
              <td>{{library.code}}</td>
              <td>{{library.name}}</td>
              <td>
                <a class="btn btn-primary btn-sm btn-circle mr-2" [routerLink]="[library.id]">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <a class="btn btn-primary btn-sm btn-circle" [routerLink]="[library.id, 'edit']">
                  <i class="fas fa-pencil-alt fa-fw"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
