#wrapper #content-wrapper {
  background: #f8f9fc;
  min-height: 100vh;

  .floor-plan-container {
    width: 100%;
    display: block;
    margin: 0 auto;

    &.zoom-out {
      height: 85vh;
    }
  }
}
