<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    <small class="d-block text-muted">{{library.name}} ({{library.code}})</small>
    {{floor.name}} ({{floor.code}})
  </h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header">
        Nastavitve
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 form-group">
            <label for="rack-code-attribute-selector">Atribut oznake regalov</label>
            <input type="text" id="rack-code-attribute-selector" readonly
                   [(ngModel)]="floor.rackCodeSelector.attribute" name="rack-code-attribute-selector" class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="rack-code-value-selector">Vrednost atributa oznake regalov</label>
            <input type="text" id="rack-code-value-selector" readonly
                   [(ngModel)]="floor.rackCodeSelector.value" name="rack-code-value-selector" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card shadow mt-4">
      <div class="card-header d-flex flex-row align-items-center justify-content-between">
        Lokacije gradiva
        <i class="fa fa-info-circle cursor-pointer" popoverTitle="Legenda barv" [popover]="popoverLegendTemplate" placement="left" [outsideClick]="true"></i>
      </div>
      <div class="card-body">
        <div class="row" *ngIf="racksIncomplete">
          <div class="col-12">
            <div class="alert alert-info" role="alert">
              Na tlorisu obstajajo regali, ki nimajo definiranih preslikav lokacij gradiva ali pa vsebujejo nepravilno nastavljene (prazne) preslikave.<br />
              Prosimo preverite <strong [style]="'color: ' + RACK_HAS_NO_CONTENTS_FILL_COLOR">rdeče</strong> obarvane regale.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">

              </div>
              <div class="col-lg-4 col-md-6 col-12" *ngIf="selectedRack">
                <div class="row">
                  <div class="col-12">
                    <label>Regal: <strong>{{selectedRack.rack.code}}</strong></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-2" *ngFor="let rackContent of selectedRack.rack.contents; let index = index; let first = first; let last = last">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary"
                                [(ngModel)]="rackContent.regex" btnCheckbox
                                [btnCheckboxTrue]="true" [btnCheckboxFalse]="false">
                          RegEx
                          <i class="fa fa-fw fa-xs"
                             [ngClass]="{ 'fa-check': rackContent.regex, 'fa-times': !rackContent.regex }">
                          </i>
                        </button>
                      </div>

                      <input type="text" class="form-control" [(ngModel)]="rackContent.identifier"
                             (keypress)="onRackContentKeypress($event)">

                      <div class="input-group-append">
                        <button *ngIf="selectedRack.rack.contents && selectedRack.rack.contents.length !== 1"
                                class="btn btn-outline-secondary" type="button" (click)="removeRackContent(index)">
                          <i class="fa fa-xs fa-minus"></i>
                        </button>
                        <button *ngIf="last" class="btn btn-outline-secondary" type="button" (click)="addRackContent()"
                                [disabled]="!rackContent.identifier || rackContent.identifier.length === 0">
                          <i class="fa fa-xs fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>

<!--                  <div class="col-12 mt-2">-->
<!--                    <div>-->
<!--                      <button type="button" class="btn btn-secondary mr-2" (click)="previousRack()">-->
<!--                        <i class="fa fa-arrow-left"></i>-->
<!--                      </button>-->
<!--                      <button type="button" class="btn btn-secondary" (click)="nextRack()">-->
<!--                        <i class="fa fa-arrow-right"></i>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>

              <div class="col-12" [ngClass]="{ 'col-lg-8 col-md-6': selectedRack }">
                <div class="floor-plan-container"
                     [inlineSVG]="floorPlanUrl" (onSVGInserted)="processFloorPlan()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="saveRacks()" [ladda]="ladda.saveRacksInProgress">
              Shrani
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #popoverLegendTemplate>
  <strong [style]="'color: ' + RACK_HAS_CONTENTS_FILL_COLOR">Zelena</strong>: Regali s prisotnimi in pravilno izpolnjenimi preslikavami<br />
  <strong [style]="'color: ' + RACK_HAS_NO_CONTENTS_FILL_COLOR">Rdeča</strong>: Regali brez preslikav ali z nepravilno izpolnjenimi preslikavami<br />
  <strong [style]="'color: ' + RACK_SELECTED_FILL_COLOR">Modra</strong>: Trenutno izbran regal
</ng-template>
