<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Namizje</h1>
</div>

<!-- Content Row -->
<div class="row">

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Iskanja v prejšnjem mesecu</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics.previousMonthCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Iskanja v tekočem mesecu</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics.thisMonthCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Trend mesečnega iskanja</div>
            <div class="h5 mb-0 font-weight-bold"
                 [ngClass]="{ 'text-success': statistics.monthCountIncrease > 0, 'text-warning': statistics.monthCountIncrease <= 0 }">
              {{ statistics.monthCountIncrease | percent }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-percentage fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Iskanja v prejšnjem tednu</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics.previousWeekCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Iskanja v tekočem tednu</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics.thisWeekCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Trend tedenskega iskanja</div>
            <div class="h5 mb-0 font-weight-bold"
                 [ngClass]="{ 'text-success': statistics.weekCountIncrease > 0, 'text-warning': statistics.weekCountIncrease <= 0 }">
              {{ statistics.weekCountIncrease | percent }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-percentage fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow h-100">
      <div class="card-header">
        Prikaz števila iskanj v zadnjih sedmih dneh
      </div>
      <div class="card-body pl-0">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="data"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
