<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    {{ floorId ? 'Urejanje nadstropja' : 'Dodajanje nadstropja' }}
  </h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #floorForm="ngForm" novalidate>
          <div class="row">
            <div class="col-12 form-group">
              <label for="code">Šifra</label>
              <input type="text" class="form-control" id="code" required
                     [(ngModel)]="floor.code" name="code" #code="ngModel" [class.is-invalid]="code.invalid && code.dirty">
              <div [hidden]="code.valid || code.pristine" class="invalid-feedback">
                Podatek je obvezen
              </div>
            </div>

            <div class="col-12 form-group">
              <label for="name">Naziv</label>
              <input type="text" class="form-control" id="name" required
                     [(ngModel)]="floor.name" name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.dirty">
              <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                Podatek je obvezen
              </div>
            </div>

            <div class="col-12 form-group">
              <div class="row">
                <div class="col-6 form-group">
                  <label for="rack-code-attribute-selector">Atribut oznake regalov&nbsp;</label>
                  <i class="fa fa-info-circle"
                     popover="Atribut, ki določa kateri element v tlorisu je regal, npr. 'id', 'rack-label', 'data-rack-id', ..."
                     [outsideClick]="true">
                  </i>
                  <input type="text" id="rack-code-attribute-selector" required
                         [(ngModel)]="floor.rackCodeSelector.attribute" #rackCodeAttributeSelector="ngModel" name="rack-code-attribute-selector" class="form-control">
                  <div [hidden]="rackCodeAttributeSelector.valid || rackCodeAttributeSelector.pristine" class="invalid-feedback">
                    Podatek je obvezen
                  </div>
                </div>
                <div class="col-6 form-group">
                  <label for="rack-code-value-selector">Vrednost atributa oznake regalov&nbsp;</label>
                  <i class="fa fa-info-circle"
                     popover="Opcijska vrednost atributa, ki še dodatno določa kateri element v tlorisu je regal, npr. 'id=r.*', 'rack-label=r.*', 'data-rack-id=r.*', ..."
                     [outsideClick]="true">
                  </i>
                  <input type="text" id="rack-code-value-selector"
                         [(ngModel)]="floor.rackCodeSelector.value" name="rack-code-value-selector" class="form-control">
                </div>
              </div>
            </div>

            <div class="col-12 form-group">
              <label for="floor-plan-file">Tloris</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" id="floor-plan-file" #floorPlanFileInput lang="si" (change)="floorPlanFileChanged($event)"
                         name="floor-plan" class="custom-file-input" accept="image/svg+xml">
                  <label class="custom-file-label" for="floor-plan-file">
                    {{ floorPlanFile?.name }}
                  </label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary mr-2" [disabled]="!floorForm.form.valid"
                      [ladda]="ladda.createOrUpdateFloorInProgress">
                Potrdi
              </button>
              <a class="btn btn-light" [routerLink]="['/', 'admin', 'libraries', libraryId]">
                Prekliči
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
